<div class="index-background-img h-100" style="background-image: url('<%= asset_path('background-img.jpg') %>');">
  <div class="index-title">
    <h1 class= "dashboard-headerone d-flex justify-content-center" > FOOTY<span class="hub">HUB</span> </h1>
  </div>

  <%# <h1 class= "dashboard-title">YOUR GAMES</h1> %>

  <div class ="dashboard-card-container " style="overflow-y: auto;">
    <h2 class = "dashboard-title-joined w-100">Upcoming games</h2>
      <% @joined_games.each do |game| %>
      <%= link_to game_path(game), class: "cardlink-db" do  %>
        <div class="dashboard-joined-card ">
          <div class="both-dash-cards">
              <div>
                <p class="dashboard-card-location"><i class="fa-solid fa-map-pin"></i><%= "#{game.location}" %></p>
                <p class="dashboard-card-size"><i class="fa-solid fa-users fa-sm"></i><%= "#{game.game_size}" %> -a-side </p>
                <p class="dashboard-card-location"><i class="fa-solid fa-clock"></i><%= "#{game.date.strftime("%m-%e-%y %H:%M")}" %></p>
                <p class="dashboard-card-host">
                  <% if game.user.photo.attached? %>
                  <%= cl_image_tag game.user.photo.key, class: "imagetag-dashboard" %>
                  <% else %>
                  <%= image_tag "avatar.png", class: "imagetag-dashboard" %>
                  <% end %>
                </i><%= "#{game.user.first_name}" %></p>
              </div>
          </div>
        </div>
        <% end %>
      <% end %>
      <% if @joined_games.empty? %>
        <p class='empty-notice'>You haven't joined any games</p>
    <% end %>
  </div>

  <div class ="dashboard-card-container-hosted" style=" overflow-y: auto;">
    <h2 class = "dashboard-title-hosted w-100">Hosted games</h2>
    <% @hosted_games.each do |game| %>
      <%= link_to game_path(game), class: "cardlink-db" do  %>
        <div class="dashboard-hosted-card d-flex">
          <div>
            <p class="dashboard-card-location"><i class="fa-solid fa-map-pin"></i><%= "#{game.location}" %></p>
            <p class="dashboard-card-size"><i class="fa-solid fa-users fa-sm"></i><%= "#{game.game_size}" %> -a-side </p>
            <p class="dashboard-card-location"><i class="fa-solid fa-clock"></i><%= "#{game.date.strftime("%m-%e-%y %H:%M")}" %></p>
            <p class="dashboard-card-host">
            <% if game.user.photo.attached? %>
              <%= cl_image_tag game.user.photo.key, class: "imagetag-dashboard" %>
            <% else %>
              <%= image_tag "avatar.png", class: "imagetag-dashboard" %>
            <% end %>
            <%= "You" %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    <% if @hosted_games.empty? %>
      <p class='empty-notice'>You haven't hosted any games</p>
    <% end %>
  </div>
</div>
</div>

  </div>
  </div>
