<div class="profile-container" data-controller='profile' data-profile-token-value="<%= form_authenticity_token%>">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <div class="background-profile" style="background-image: url('<%= asset_path('profilebackground.png') %>');">
      <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class:"logout" do %>
       <i class="fa-solid fa-right-from-bracket fa-2xl" style="color: #ffffff;"></i>
      <% end %>
      <% if @user.photo.attached? %>
        <%= cl_image_tag @user.photo.key, class: "profile-img" %>
      <% else %>
        <%= image_tag "avatar.png", class: "profile-img" %>
      <% end %>
    </div>
    <div class="profile-form">
    <form data-action="submit->profile#submit">
    <label for="first_name"><i class="fas fa-user"></i> First Name:</label>
    <input class="profile-form-input" data-profile-target='input' type="text" id="first_name" name="first_name" value="<%= @user.first_name %>"><br>

    <label for="last_name"><i class="fas fa-user"></i> Last Name:</label>
    <input class="profile-form-input"  data-profile-target='input' type="text" id="last_name" name="last_name" value="<%= @user.last_name %>"><br>

    <label for="preferred_position"><i class="fas fa-futbol"></i> Preferred Position:</label>
    <input class="profile-form-input" data-profile-target='input' type="text" id="preferred_position" name="preferred_position" value="<%= @user.preferred_position %>"><br>

    <label for="email"><i class="fas fa-envelope"></i> Email:</label>
    <input class="profile-form-input"  data-profile-target='input' type="text" id="email" name="email" value="<%= @user.email %>"><br>

    <h3 for="matches_won"><i class="fas fa-trophy"></i> Matches Won:</h3>
    <input class="profile-form-input"  type="text" value="<%= @user.matches_won %>4">

    <h3 for="matches_lost"><i class="fas fa-exclamation-circle"></i> Matches Lost:</h3>
    <input  class="profile-form-input" type="text" value="<%= @user.matches_lost %>3">

    <button type='button'
            class='btn btn-success'
            data-action='click->profile#editMode'
            data-profile-target='edit'>
      Edit
    </button>

    <button type='submit'
            class='btn btn-success d-none'
            data-profile-target='submit'>
      Save changes
    </button>
  </form>

  </div>
</div>
