<div class="ftpage">
    <div class="container">
      <div class="team1">
        <div class="banner">
          <h1>Team 1</h1>
        </div>
        <div class="lineups">
          <ul class="nameformation">
            <% game.players.where({team: 1}).each do |player| %>
              <% player_name = "#{player.user.first_name[0]}. #{player.user.last_name.upcase}" %>
              <div class='player-box'>
                <% if player.user.photo.attached? %>
                <%= cl_image_tag player.user.photo.key, class: "imagetag" %>
                <% else %>
                  <%= image_tag "avatar.png", class: "imagetag" %>
                <% end %>
                <p class="nameformation <%= player_name.length > 10 ? 'small' : '' %>"><%= player_name %></p>
                <p class="nameposition"><%= " #{player.user.preferred_position} "%></p>
              </div>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="team2">
        <div class="banner">
        <h1>Team 2</h1>
        </div>
        <div class="lineups">
          <ul class="nameformation">
            <% game.players.where({team: 2}).each do |player| %>
              <% player_name = "#{player.user.first_name[0]}. #{player.user.last_name.upcase}" %>
              <div class='player-box'>
                <% if player.user.photo.attached? %>
                <%= cl_image_tag player.user.photo.key, class: "imagetag" %>
                <% else %>
                  <%= image_tag "avatar.png", class: "imagetag" %>
                <% end %>
                <p class="nameformation <%= player_name.length > 10 ? 'small' : '' %>"><%= player_name %></p>
              </div>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
</div>
