<div class="background-img-show" style="background-image: url('<%= asset_path('ball.jpg') %>');">
<%= link_to dashboard_path, class: "backshow" do %>
  <i class="fa-solid fa-arrow-left fa-2xl arrow-show" style="color: #ffffff;"></i>
<% end %>
</div>

<div class="ftpage">


  <div class="formation-title">
    <h1 class= "dashboard-headerone d-flex justify-content-center" > LINE UPS</span> </h1>
  </div>

    <div class="container">
      <div class="team1">
          <div class="banner1">
          <h1>Team 1</h1>
          </div>

          <div class="lineups">
          <ul class="nameformashon">
          <% @game.players.where({team: 1}).each do |player| %>
            <% player_name = "#{player.user.first_name[0]}. #{player.user.last_name.upcase}" %>
            <div class='player-box'>
              <% if player.user.photo.attached? %>
              <%= cl_image_tag player.user.photo.key, class: "imagetag" %>
              <% else %>
                <%= image_tag "avatar.png", class: "imagetag" %>
              <% end %>
              <p class="nameformation <%= player_name.length > 10 ? 'small' : '' %>"><%= player_name %></p>
            </div>
          <% end %>
          </ul>
          </div>
      </div>

        <div class="team2">
            <div class="banner2">
            <h1>Team 2</h1>
            </div>

            <div class="lineups">
            <ul class="nameformashon">
            <% @game.players.where({team: 2}).each do |player| %>
              <% player_name = "#{player.user.first_name[0]}. #{player.user.last_name.upcase}" %>
              <div class='player-box'>
                <% if player.user.photo.attached? %>
                <%= cl_image_tag player.user.photo.key, class: "imagetag" %>
                <% else %>
                  <%= image_tag "avatar.png", class: "imagetag" %>
                <% end %>
                <p class="nameformation <%= player_name.length > 10 ? 'small' : '' %>"><%= player_name %></p>
              </div>
            <% end %>

            <ul>
          </div>
      </div>

    </div>
</div>
