<div class="index-background-img h-100" style="background-image: url('<%= asset_path('background-img.jpg') %>');">
      <div class="index-title">
        <h1 class= "index-headerone d-flex justify-content-center" > FOOTY<span class="hub">HUB</span> </h1>
      </div>

    <div class="row justify-content-center searchbar m-0">
      <div class="col-sm-8 ">
        <%= form_with url: games_path, method: :get, class: "d-flex index-search search-bar" do %>
          <%= text_field_tag :query,
                params[:query],
                class: " type-loc form-control",
                placeholder: "Search for a game"
            %>
          <%= button_tag "Search" , name: "", class: " search-btn btn-fcard px-3" do%>
          <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="heading-container">
      <h1 class="index-headertwo"> Available Games: <small class="results-count"><%#= @games.count Games%></small></h1>
    </div>
      <div class="card-container">
        <div class="row full-games-card h-100 m-0 indexcards">
          <% @games.each do |game| %>
            <div class="col-md-6">
              <%= link_to game_path(game), class: "text-decoration-none text-white" do %>
                <div class="game-card">
                  <div class="top">
                    <div>
                      <h5 class="title"><%= "#{game.location}" %></h5>
                      <h5 class="size"><i class="fa-solid fa-users fa-sm"></i><%= "#{game.game_size}-a-side"%></h5>
                    </div>
                    <div class='date-level'>
                      <h5 class="date"><i class="fa-solid fa-clock"></i><%= "#{game.date.strftime("%m-%e-%y %H:%M")}" %></h5>
                      <h5 class="game-card-level"><%= "#{game.level}"%></h5>
                    </div>
                  </div>
                  <div class="bottom">
                    <h5 class="host">
                      <% if game.user.photo.attached? %>
                        <%= cl_image_tag game.user.photo.key, class: "imagetag-index" %>
                      <% else %>
                        <%= image_tag "avatar.png", class: "imagetag-index" %>
                      <% end %>
                      <%= "#{game.user.first_name}" %>
                    </h5>
                    <h5 class="price-text">£<%= "#{game.price.round} / pp" %></h5>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
            <div class="nav-button-container">
        <% if params[:page].to_i > 0 %>
          <%= link_to games_path(page: params[:page].nil? ? 1 : params[:page].to_i - 1 ), class: "prev" do %>
            <i class="fa-solid fa-circle-left fa-2xl"></i>
          <% end %>
        <% end %>
        <% if params[:page].to_i < (@games_count/3) %>
        <%= link_to games_path(page: params[:page].nil? ? 1 : params[:page].to_i + 1 ), class: "next" do %>
          <i class="fa-solid fa-circle-right fa-2xl"></i>
        <% end %>
        <% end %>
        <% if @games.empty? %>
        <p class='empty-notice-index'>No Results Available</p>
    <% end %>
      </div>
        </div>
      </div>
</div>

<style>
  body {
    overflow: hidden;
  }
</style>
