<h1>HOST A GAME</h1>

<%= simple_form_for @game do |f| %>
  <%= f.input :location %>
  <%= f.input :date %>
  <%= f.input :game_size, collection: ["5-a-side", "7-a-side", "9-a-side", "11-a-side"] %>
  <%= f.input :level, collection: ["Amatuer", "Casual", "Intermediate", "Advanced", "Any"] %>
  <%= f.input :price %>
  <%= f.input :description %>
  <%= f.submit "Confirm", class: "btn btn-primary" %>
<% end %>
