<h1><%="Join #{@game.user.first_name}'s Game"%></h1>
<ul>
<li>Game Size: <%= @game.game_size / 2 %>-a-side</li>
<li>Date & Time: <%= @game.date %></li>
<li>Location: <%= @game.location %></li>
<li>Price Per Player: £<%= @game.price %></li>
<li>Gender: <%= @game.gender %></li>
</ul>

<p>Additional Info:</p>
<p><%= @game.description %></p>
<% if @game.players.where({user_id: current_user.id}).length === 0 %>
  <%= link_to "Join Game", game_players_path(@game), data: { turbo_method: :post } %>
<% else %>
  <p style="font-size: 20px;">Joined</p>
<% end %>
