<div class="background-img-show" style="background-image: url('<%= asset_path('ball.jpg') %>');">
<%= link_to games_path, class: "backshow" do %>
  <i class="fa-solid fa-arrow-left fa-2xl" style="color: #ffffff;"></i>
<% end %>
</div>

<div class="wholeshowpage">
  <h5 class="show-card-date"> <%= @game.date.strftime("%m-%e-%y %H:%M")%></h5>
  <h5 class="show-card-location"> <i class="fa-solid fa-location-dot fa-lg" style="color: #00422a;"></i> <%= @game.location %></h5>
  <h5 class="show-card-host"><%="By #{@game.user.first_name}"%></h5>
    <div class="show-card-container">
      <div class ="shwcard"> <h5 class="show-card-size"><span class="redheader">Game Size</span> <%= @game.game_size %>-a-side</h5></div>
      <div class ="shwcard"> <h5 class="show-card-level"><span class="redheader">Level</span> <%= @game.level %></h5></div>
      <div class ="shwcard"> <h5 class="show-card-gender"><span class="redheader">Gender</span> <%= @game.gender %></h5></div>
    </div>
  <h5 class="show-card-price"> £<%= @game.price.round %></h5>

  <div class="description-card">
    <p class="show-card-description"><%= "Description: #{@game.description} "%></p>
  </div>

  <% if @game.players.where({user_id: current_user.id}).length === 0 %>
    <%= link_to "Join Game", game_players_path(@game), class: "join-game-btn", data: { turbo_method: :post } %>
  <% else %>
    <p style="font-size: 20px;">Joined</p>
  <% end %>
</div>
